.consult {
  padding-top: 114px;
  padding-bottom: 129px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 575.98px) {
  .consult {
    padding-top: 42px;
    padding-bottom: 104px;
    background-size: 900%;
  }
}
.consult__title {
  color: #fff;
}
.consult__title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
@media (max-width: 575.98px) {
  .consult__title h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
.consult__form {
  margin-top: 42px;
}
.consult__inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 27px;
}
@media (max-width: 991.98px) {
  .consult__inputs {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .consult__inputs {
    gap: 15px;
    margin-bottom: 22px;
  }
}
@media (max-width: 575.98px) {
  .consult__inputs .c-input {
    width: 100%;
  }
}
.consult__check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 37px;
}
@media (max-width: 575.98px) {
  .consult__check {
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 19px;
  }
  .consult__check .c-checkbox {
    margin-top: 3px;
  }
}
.consult__check-text {
  display: flex;
  gap: 8px;
  color: #fff;
}
@media (max-width: 575.98px) {
  .consult__check-text {
    flex-direction: column;
    gap: 0;
  }
}
.consult__check-text span {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
@media (max-width: 575.98px) {
  .consult__check-text span {
    font-size: 14px;
  }
}
.consult__check-text a {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #d1f349;
}
@media (max-width: 575.98px) {
  .consult__check-text a {
    font-size: 14px;
  }
}
.consult__button {
  display: flex;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .consult__button .button {
    width: 100%;
  }
}