.p-contacts {
  padding-bottom: 51px;
}
@media (max-width: 767.98px) {
  .p-contacts {
    padding-bottom: 23px;
  }
}
.p-contacts__side {
  display: flex;
  flex-direction: column;
  gap: 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #0c2549;
}
@media (max-width: 991.98px) {
  .p-contacts__side {
    gap: 14px;
  }
}
@media (max-width: 767.98px) {
  .p-contacts__side {
    margin-bottom: 24px;
  }
}
.p-contacts__side-email {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.p-contacts__side-email-icon {
  width: 20px;
  height: 20px;
}
.p-contacts__side-phones {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
@media (max-width: 991.98px) {
  .p-contacts__side-phones {
    gap: 10px;
  }
}
.p-contacts__side-phone {
  display: flex;
  align-items: center;
  gap: 5px;
}
.p-contacts__side-phone-icon {
  width: 20px;
  height: 20px;
}
.p-contacts__worktime {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.p-contacts__worktime-item-wrap {
  display: flex;
  gap: 5px;
}
.p-contacts__worktime-item span {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
}
.p-contacts__worktime-item b {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  white-space: nowrap;
}
@media (max-width: 1199.98px) {
  .p-contacts__cards .row {
    gap: 24px;
  }
}
.p-contacts__card {
  position: relative;
  z-index: 1;
}
.p-contacts__card-top {
  margin-bottom: 10px;
}
.p-contacts__card-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 5px;
}
.p-contacts__card-location {
  display: flex;
  gap: 5px;
}
.p-contacts__card-location-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.p-contacts__card-location-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
}
.p-contacts__card-map {
  height: 201px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #c9dcb2;
  border: 1px solid #c9dcb2;
}
.p-contacts__card-map .ymaps-2-1-79-map-copyrights-promo,
.p-contacts__card-map .ymaps-2-1-79-copyright {
  display: none;
}
.p-contacts__button .button-arrow {
  box-shadow: unset;
}
@media (max-width: 575.98px) {
  .p-contacts__button .button-arrow {
    width: 100%;
    justify-content: center;
  }
}
.p-contacts__leaf {
  position: absolute;
  top: -105px;
  right: -126px;
  z-index: -1;
}
@media (max-width: 1199.98px) {
  .p-contacts__leaf {
    height: 280px;
  }
}