.p-news-detail {
  padding-bottom: 35px;
}
@media (max-width: 991.98px) {
  .p-news-detail {
    padding-bottom: 40px;
  }
}
.p-news-detail__date-n-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .p-news-detail__date-n-tags {
    margin-bottom: 5px;
  }
}
.p-news-detail__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.p-news-detail__tag {
  color: #4d9215;
}
.p-news-detail__title {
  margin: 0 -20px;
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .p-news-detail__title {
    margin: 0;
    margin-bottom: 20px;
  }
}
.p-news-detail__title h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
@media (max-width: 991.98px) {
  .p-news-detail__title h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
.p-news-detail__top-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0%;
}
@media (max-width: 991.98px) {
  .p-news-detail__top-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}
.p-news-detail__top-image {
  width: 100%;
  height: 524px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .p-news-detail__top-image {
    height: 320px;
  }
}
.p-news-detail__top-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-news-detail__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 991.98px) {
  .p-news-detail__block {
    gap: 20px;
  }
}
.p-news-detail__block-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p-news-detail__block-image-img {
  width: 100%;
  height: 483px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .p-news-detail__block-image-img {
    height: 320px;
  }
}
.p-news-detail__block-image-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-news-detail__block-image-source {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 13px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #7d7d7d;
}
.p-news-detail__block-image-source-content {
  max-width: 400px;
}
.p-news-detail__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.p-news-detail__content p,
.p-news-detail__content h2,
.p-news-detail__content h3 {
  margin-bottom: 0;
}
.p-news-detail__content p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
@media (max-width: 991.98px) {
  .p-news-detail__content p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
  }
}
.p-news-detail__content h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0%;
}
@media (max-width: 991.98px) {
  .p-news-detail__content h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.p-news-detail__content h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
@media (max-width: 991.98px) {
  .p-news-detail__content h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
  }
}
.p-news-detail__content ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.p-news-detail__content ul li {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
@media (max-width: 991.98px) {
  .p-news-detail__content ul li {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
  }
}
.p-news-detail__content b {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.p-news-detail__summary h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}
@media (max-width: 991.98px) {
  .p-news-detail__summary h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
.p-news-detail__summary p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}
@media (max-width: 991.98px) {
  .p-news-detail__summary p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
}
.p-news-detail__summary p:last-child {
  margin-bottom: 0;
}
.p-news-detail__share {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: unset;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #4d9215;
}
.p-news-detail__share-icon {
  width: 20px;
  height: 20px;
}
.p-news-detail__back-button-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.p-news-detail__back-button-wrap .button {
  width: 228px;
}
@media (max-width: 575.98px) {
  .p-news-detail__back-button-wrap .button {
    width: 100%;
  }
}